.loader {
    margin-top: 210px;
}

.basket-button {
    width: 40px;
    font-size: 17px;
    margin-top: 2px;
    color: #ff7854;
    font-weight: 800;
}

.addGroup__error {
    color: red;
    font-size: 10px;
    margin-left: 10px;
}

.google_autocomplete {
    background: #fbfbfb;
    padding-left: 10px;
    padding-right: 10px;
    width: 92%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
}

.list-search {
    list-style: none;
    padding: 6px;
    border-bottom: 1px solid #efecec;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #346de0;
}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 194px;
    top: 28%;
    /* text-align: center; */
    width: 47%;
    float: left;
    background-color: rgba(0,0,0,0.1);
    padding: 11px;
    border-radius: 7px
}